*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    margin: 2% 10%;
}

header{
    height: 10%;
    background-color: #e579e6;
}

nav{
    height: 30%;
    background-color: #e1d67a;
    margin: 2% 0;
}

main{
    height: 50%;
    background-color: #0186ff;
    padding-bottom: 2%;
}

section{
    background-color: #abcfe7;
}

section:nth-child(1){
    height: 15%;
    margin-bottom: 2%;
}

section:nth-child(2){
    height: 80%;
    width: 20%;
    float: left;
}

section:nth-child(3){
    height: 80%;
    width: 56%;
    float: left;
    margin: 0 2%;
}

section:nth-child(4){
    height: 80%;
    width: 20%;
    float: right;
}

footer{
    height: 5%;
    background-color: #8801fe;
    margin: 2% 0;
}